@tailwind base;
@tailwind components;
@tailwind utilities;

.record-card-color {
  background-color: rgba(218, 255, 220, 0.4)
}

.bg-second-color {
  background-color: rgb(204, 225, 209)
}

.logo-text-color {
  color: rgb(107, 185, 126)
}

.h-custom {
  height: calc(100% - 270px);
}

.hidden-scrollbar{
  overflow: scroll;
  -ms-overflow-style: none;    /* IE, Edge 対応 */
  scrollbar-width: none;       /* Firefox 対応 */
}

.hidden-scrollbar::-webkit-scrollbar {  /* Chrome, Safari 対応 */
  display:none;
}